body {
    background-color: white;

}

.cardcontainer {
    display: flex;
    justify-content: center;
    height: 420px;
    margin-top: 100px;


}

.first {
    background-color: hsl(31, 77%, 52%);
    color: white;
    padding: 30px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;

}



@font-face {
    font-family: myfirstfont;
    src: url(BigShouldersDisplay-VariableFont_wght.ttf);
}

div {
    font-family: myfirstfont;

}

pre {
    color: rgb(244, 240, 236);
    padding-bottom: 50px;

}

.firsta {
    text-decoration: none;
    border: 2px solid white;
    background-color: white;
    color: hsl(31, 77%, 52%);
    border-radius: 20px;
    padding: 10px 25px;
    font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    ;

}

.firsta:hover {
    background-color: hsl(31, 77%, 52%);
    color: white;
    transition-duration: 0.4s;
}

.second {
    background-color: darkcyan;
    color: white;
    padding: 30px;
}

.seconda {
    text-decoration: none;
    font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    border: 2px solid white;
    padding: 10px 27px;
    background-color: white;
    color: darkcyan;
}

.seconda:hover {
    transition-duration: 0.4s;
    background-color: darkcyan;
    color: white;
}

.third {
    background-color: hsl(179, 100%, 13%);
    color: white;
    padding: 30px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

}

.thirda {
    font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    background-color: white;
    color: hsl(179, 100%, 13%);
    text-decoration: none;
    padding: 10px 25px;
    border: 2px solid white;
}

.thirda:hover {
    background: hsl(179, 100%, 13%);
    color: white;
    transition-duration: 0.4s;
}
